@{
    ViewBag.SubTitle = "Forgot password";
    Layout = "~/Views/PasswordRecovery/Layout.cshtml";
}
@section scripts {
    <script type="text/javascript">
        $(function () {
            var viewModel = new fmm.viewmodel.security.ForgotPasswordViewModel();
            ko.applyBindings(viewModel, $('#forgot-pwd-form')[0]);
        });
    </script>
}

<form id="forgot-pwd-form" data-bind="asyncSubmit: sendForgotPasswordEmail">
    <div data-bind="template: { name: 'MessageLog', data: log }"></div>
    <p class="lead">Please enter the email address that you registered and click send. You will then be emailed with further instructions on resetting your password.</p>
    <div class="control-group">
        <label class="control-label" for="reset-email">Email Address</label>
        <div class="controls">
            <div class="input-prepend input-icon">
                <span class="add-on">
                    <i class="icon-envelope"></i>
                </span>
                <input id="reset-email" type="email" data-bind="value: email" />                
            </div>
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary" data-bind="enable: isViewModelValid() && !isMessaageSent()">Send Email</button>
    </div>
</form>