@model Renterator.Services.Dto.PasswordResetInfo
@{
    ViewBag.SubTitle = "Reset password";
    Layout = "~/Views/PasswordRecovery/Layout.cshtml";
}
@section scripts {
    <script type="text/javascript">
        $(function () {
            var viewModel = new fmm.viewmodel.security.PasswordResetViewModel();
            ko.applyBindings(viewModel, $('#reset-pwd-form')[0]);
        });
    </script>
}

<form id="reset-pwd-form" data-bind="asyncSubmit: resetPassword">
    <div data-bind="template: { name: 'MessageLog', data: log }"></div>
    <p class="lead">Please enter your email and a new password below to reset your password.</p>
    <div class="control-group">
        <label class="control-label" for="email">Email Address</label>
        <div class="controls">
            <div class="input-prepend input-icon">
                <span class="add-on">
                    <i class="icon-envelope"></i>
                </span>
                <input id="email" type="email" data-bind="value: email" />                
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="new-password">New Password</label>
        <div class="controls">
            <div class="input-prepend input-icon">
                <span class="add-on">
                    <i class="icon-lock"></i>
                </span>
                <input id="new-password" type="password" data-bind="value: newPassword" />                
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="reset-email">Confirm Password</label>
        <div class="controls">
            <div class="input-prepend input-icon">
                <span class="add-on">
                    <i class="icon-lock"></i>
                </span>
                <input id="reset-email" type="password" data-bind="value: confirmPassword" />                
            </div>
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary" data-bind="enable: isViewModelValid">Reset your password</button>
    </div>
</form>