@using Renterator.Web
@section styles {
    <style type="text/css">
        .front-page-text {
            padding-top: 10px;
            background-color: transparent;
        }
        .front-page-text em {
            color: #6fa8dc;
            font-style: normal;
        }
    </style>
}

<div id="main-rotator" class="carousel slide">
    <div class="carousel-inner">
        @* TODO: Make marketing site roatator, etc. *@
        <div class="item">
            <img src="@Images.slide_01_jpg" alt="" />
            <div class="container">
                <div class="carousel-caption">
                    <h1>Add stuff here.</h1>
                    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <a class="btn btn-large btn-primary" href="#">Sign up today</a>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="@Images.slide_02_jpg" alt="" />
            <div class="container">
                <div class="carousel-caption">
                    <h1>And more stuff here.</h1>
                    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <a class="btn btn-large btn-primary" href="#">Learn more</a>
                </div>
            </div>
        </div>
        <div class="item active">
            <img src="@Images.slide_03_jpg" alt="" />
            <div class="container">
                <div class="carousel-caption">
                    <h1>Maybe some testimonials once we get them.</h1>
                    <blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <small>Some company that likes our stuff</small>
                    </blockquote>
                    <blockquote class="pull-right">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <small>Some company that likes our stuff</small>
                    </blockquote>
                    <br class="clearfix"/>
                    <a class="btn btn-large btn-primary" href="#">Browse gallery</a>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#main-rotator" data-slide="prev">‹</a>
    <a class="right carousel-control" href="#main-rotator" data-slide="next">›</a>
</div>
<div class="hero-unit front-page-text">
    <div class="page-header"><h2>Insert catchy phrase here</h2></div>
    <p>
        You have a <em>small business</em> to run.
        You’re busy. Let us <em>worry</em> about <em>your website</em>.
        No need to deal with a design firm for months to get a site up and running.
        We’ll have your site <em>customized</em> and <em>online in minutes</em>. 
    </p>
    <ul>
        <li>Clean, simple, elegant design.</li>
        <li>Search engine friendly.</li>
        <li>Optimized for viewing in a browser as well as on mobile phones.</li>
        <li>Customization options for your various business needs.</li>
    </ul>
</div>