@{
    Layout = MVC.Shared.Views.BaseLayout;
    ViewBag.Title = "Renterator - Login";
}

@section styles {
    @Styles.Render("~/Content/less/src/login.css")
}

@section scripts {
    <script type="text/javascript">
        $(function () {
            var viewModel = new renterator.viewmodels.LoginForm(),
                $form = $('#login-form');

            ko.applyBindings(viewModel, $form[0]);
        });
    </script>
}
<section class="container-fluid" role="main">
    <form id="login-form" role="form" class="login-form" data-bind="submit: login">
        <fieldset data-bind="disable: isLoggingIn">
            <legend class="h1">Renterator Login</legend>

            <div data-bind="template: { name: 'MessageLog', data: log }"></div>

            <div class="form-group-stacked">
                <div class="form-group" data-bind="validationElement: email">
                    <input type="text" class="form-control input-lg" placeholder="Email Address" data-bind="value: email, valueUpdate: 'keyup'" autofocus />
                </div>

                <div class="form-group" data-bind="validationElement: password">
                    <input type="password" class="form-control input-lg" placeholder="Password" data-bind="value: password, valueUpdate: 'keyup'" />
                </div>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit" data-bind="enable: isValid()">Sign in</button>
            <a class="btn btn-link btn-block" href="@Url.Action(MVC.PasswordRecovery.Index())">Forgot password?</a>
        </fieldset>
    </form>
</section>