@import "../lib/bootstrap/mixins.less";

@form-stacked-border: 10px;
.form-group-stacked {
    margin-bottom: 15px;
    
    .form-group {
        margin: 0 0 -1px 0;

        &:first-child > input {
            .border-top-radius(@form-stacked-border);
        }

        &:last-child > input {
            .border-bottom-radius(@form-stacked-border);
        }
    }
}

.datepicker {
    z-index: 2000;
}

/* Layout */
@footer-size: 30px;
@header-size: 50px;

header {
    height: @header-size;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: @footer-size;
    background-color: #f5f5f5;
}

.main {
    padding-top: @footer-size;
}

body {
    margin-bottom: @footer-size;
    margin-top: @header-size;
}
